h1 {
    font-family: Rajdhani;
    font-size: var(--heading-1);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}
body{
    padding: 0;
    margin: 0;
    font-family: Open Sans;
    background-color: var(--White);
}

a {
    text-decoration: none;
}

.article__title2 {
    color: var(--Blue);
    background-color: var(--White);
    font-size: var(--heading-2);
}

.figure__legende {
    font-size:var(--légende)
}

.Hero__NomSite {
    font-family: Rajdhani;
    color: var(--White);
    text-transform: uppercase;
    font-size: var(--nom-site);
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 85px;
}

*, *::after, *::before{
    box-sizing: border-box;

}



.Hero__intro {
    display: block;
    background-color: var(--White);
    margin-top: -40px;
    margin-left: 31px;
    margin-right: 34px;
}

p {
    margin-left: 35px ;
    margin-right: 35px;
}


.article__title, q {
    background-color: var(--Grey);
}

.article__intro {
    text-align: center;
    font-size: 14px;
}


