h1 {
    font-family: 'Rajdhani';
    font-size: var(--heading-1);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 25px ;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans';
    background-color: var(--White);
}

a {
    text-decoration: none;
}

.title {
    background-color: var(--Grey);
}

.article__title2 {
    color: var(--Blue);
    background-color: var(--White);
    font-size: var(--heading-2);
}
.article__citation {
    background-color: var(--Grey);
    font-size: var(--citation);
    font-weight: bold;
    width: 100vw;
    padding-left: 11%;
    padding-right: 11%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;

}

.figure__legende {
    font-size:var(--legende)
}

.Hero__NomSite {
    font-family: 'Rajdhani';
    color: var(--White);
    text-transform: uppercase;
    font-size: var(--nom-site);
    position: relative;
    z-index: 1;
    text-align: center;
    margin-top: 85px;
}

*, *::after, *::before{
    box-sizing: border-box;

}

.Hero__intro {
    display: block;
    background-color: var(--White);
    margin-top: -67px;
    margin-left: 31px;
    margin-right: 34px;
    text-align: center;
    padding : 5px
}

p {
    margin-left: 35px ;
    margin-right: 35px;
}


.article__title {
    background-color: var(--Grey);
}

.article__intro {
    text-align: center;
    font-size: 14px;
}

.title__trait, .legende__trait {
    display: flex;
    border-top: 2px solid;
    color: var(--Green);
    margin-left: 0px;
    margin-right: auto;
    margin-bottom: 10px;
}

.title__trait {
    width: 190px ;
    margin-top: -5px;
}

.legende__trait {
    width: 350px;
    border-top: 1px solid;
}

.apropos__img {
    width: 78px;
    height: auto;
    margin-left: 11px;
    float:left;
    margin-left: 10px;
    margin-right: 10px;
}


.article__intitle {
    display: block;
    margin-top: 51px;
    background-color: var(--Grey);
    padding-left: 25px;
    padding-right: 25px;
}

.apropos__trait {
    display: flex;
    border-top: 1px solid;
    color: var(--Black);
    width : 82%;
    margin-top: 24px;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}

.article__legende {
    font-size: var(--legende);
    font-family: 'open sans';
    text-align: center;
}