.Hero__NomSite {
    font-family: Rajdhani;
    color: var(--White);
    text-transform: uppercase;
    font-size: var(--nom-site);
    position: relative;
    z-index: 1;
    text-align: center;
}

*, *::after, *::before{
    box-sizing: border-box;

}

body{
    padding: 0;
    margin: 0;
}