.form__btn {
    background-color: var(--Green);
    text-decoration: none;
    padding: 10px;
    padding-left: 30%;
    padding-right: 30%;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 27px;
    text-align: center;
    display: block;
    border: 1px solid var(--Black);

}