
.galerie__img {
    width: 176px;
    height: auto;
}

.galerie__title {
    background-color: var(--Grey);
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 375px;
}

.galerie__encadrement {
    width: 273px;
    height: 335px;
    border: var(--Blue) 28px solid ;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

.article__5img{
    width: 375px;
    height: 401px;
	padding: 0px;
	position: relative;
	overflow: hidden;
}

.article__carrousel{
    width: 6600px;
	height: 401px;
	left:0;
}
.article__carrousel .galerie{
    position: absolute;
	top:0;
	left:0;
	z-index: 0;
}

.glisse .galerie {
    position: relative;
    height: 335px;
    width: 375px;
	overflow: hidden;
    margin-bottom: 30px;
}

.glisse .galerie__title {
    position: relative;
	text-align: center;
    justify-content: center;
	width: 273px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 5px;
    padding-left: 5px;
	padding-top: 10px;
    padding-bottom: 50px;
	z-index: 2;
	color: black;
	background-color: var(--Grey);
	top: 0;
	display: flex;
}