
.galerie__img {
    width: 176px;
    height: auto;
}

.galerie__title {
    background-color: var(--Grey);
    text-align: center;
    padding-top: 13px;
    padding-bottom: 13px;
}

.galerie__encadrement {
    width: 273px;
    height: 335px;
    border: var(--Blue) 28px solid ;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}