.menu {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--Menu);
    font-size: var(--Body-1);
    transform: translateX(100%);
    transition: all .6s ease;
    z-index: 5;
    text-align: center;
    font-size: 18px;
  }
  
.menu__open {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
  }

.menu__list {
    margin-top: 23%;
    padding-left: 0%;
}

.menu__item {
    margin-top: 8%;
    margin-bottom: 8%;
}

.menu__link {
    color: var(--Black);
    text-decoration: none;
}

.menu__logopage {
  display: block;
  margin-left: 10px;
  margin-right: auto;
  width: 22px;
}

button {
    -webkit-appearance: none;
    appearance: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }

.noscroll,
.noscroll body {
  overflow: hidden;
}